<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="common/head :: common-head"></head>
	<body>
		<footer th:fragment="common-footer" class="navbar navbar-default navbar-fixed-bottom">
			<nav id="main-navbar-footer" class="navbar navbar-default navbar-fixed-bottom">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copyright">
						<div class="container-fluid navbar-brand">
							© 2017 Copyright: <a href="@{/}"> bancodetiemponline.com </a>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a th:href="@{/help}">Ayuda</a></li>
							<li><a th:href="@{/contribute}">Contribuye</a></li>
							<li><a th:href="@{/contact}">Contacto</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</footer>
	</body>
</html>