<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:fragment="common-head">
	    <meta charset="UTF-8"/>
	    <meta name="viewport"
	          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	    <title>BancoDeTiempoOnline</title>
	    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/datatables.min.css"/>
	
	    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
	    <link rel="stylesheet" th:href="@{/css/styles.css}" />
	</head>
	<body>
	</body>
</html>