<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="common/head :: common-head"></head>
	<body>
		<nav id="sidebar" th:fragment="common-sidebar">
			<!-- Sidebar Header -->

			<!-- Sidebar Links -->
			<ul class="list-unstyled components">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		<div th:fragment="common-scripts">
		    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		    <script th:src="@{/js/bootstrap.min.js}"></script>
		    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/datatables.min.js"></script>
		</div>
	</body>
</html>