<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/head :: common-head"></head>
<body>
    <header th:replace="common/header :: common-header"></header>
    <div class="container wrapper">
        <div>
            <h1>View contribuye</h1>
        </div>
    </div>
    <div th:replace="common/header :: common-scripts"></div>
    <footer th:replace="common/footer :: common-footer"></footer>
</body>
</html>