<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/header :: common-head"></head>
<body>
<header th:replace="common/header :: common-header"></header>

    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br/>

        <div class="alert alert-danger" th:if="${error}">Invalid username or password</div>
        <div th:if="${param.error != null}" class="alert alert-danger">Incorrect username or password</div>
        <div th:if="${param.logout != null}" class="alert alert-info">You have been logout successfully</div>
        <form th:action="@{/login}" method="POST">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="submit" name="login" class="login loginmodal-submit" value="Login"/>
        </form>

        <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
        </div>
    </div>

    <div th:replace="common/header :: common-scripts"></div><div th:replace="common/header :: common-scripts"></div>
</body>
</html>