<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="common/header :: common-head"></head>
<body>
<header th:replace="common/header :: common-header"></header>

    <div class="loginmodal-container">
        <br/>

        <form th:action="@{/login}" method="POST">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <div th:if="${param.error != null}" class="alert alert-danger">Contraseña o usuario incorreto</div>
            <div th:if="${register == 0}" class="alert alert-info" role="alert"> Registrado correctamente!!</div>
            <input type="submit" name="login" class="login loginmodal-submit" value="Entrar"/>
        </form>

        <div class="login-help">
            <a href="#">Contraseña olvidada?</a>
        </div>
    </div>

    <div th:replace="common/header :: common-scripts"></div>
    <footer th:replace="common/footer :: common-footer"></footer>
</body>
</html>